/*.alinear{
  text-align: center;
  margin-top: 20px;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1){
  flex: 0 0 6%;
}

ul li{
  list-style: none;
}

table{
  width: 100%;
}

mat-form-field{
  width: 140%;
}


*/
